<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.branch.marshall.weathershare">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="io.branch.referral.BranchApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".WeatherActivity"
            android:label="Weather"
            android:launchMode="singleTask"
            android:logo="@android:color/transparent"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<intent-filter android:autoVerify="true">-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->

            <!--<data-->
            <!--android:host="bnc.lt"-->
            <!--android:pathPrefix="/zjym"-->
            <!--android:scheme="https" />-->

            <!--<data-->
            <!--android:host="bnc.lt"-->
            <!--android:pathPrefix="/7jym"-->
            <!--android:scheme="https" />-->
            <!--</intent-filter>-->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="weathershare" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="today_city_name,lat" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/main_search" />
        </activity>

        <!-- Branch Stuff -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_aoe5xtoR3hpWsXNjD3GAtmcoyEhvH4i9" />

        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_oclYwykM0ni4w9LgB9Jy3gentqlsH1wp" />

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Google Maps Stuff -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
